
:root {
// color
  --light-grey: #e0e0e0;
  --light-grey-image: linear-gradient(transparent, transparent 4.5px, #e0e0e0 4.5px, #e0e0e0);
  --light-grey-deep: #c8c8c8; /* link */
  --dark-grey: #6f6d6d;
  --pink: #d480aa;
  --pink-image: linear-gradient(transparent, transparent 4px, #d480aa 4px, #d480aa);
  --shadow: rgba(0, 0, 0, 0.1);
  --red: #ef477e;
  --first-red: #ff4d62;
  --blue: #2d8be2;
  --blue-tint: #e7f3ff;
  --violet: #b928be;
  --violet-tint: #ffefff;
  --miku: #28bea0;
  --miku-tint: #e8f9f6;
  --green-deep: #2bbc8a;
  --green-deep-image: linear-gradient(transparent, transparent 4px, #2bbc8a 4px, #2bbc8a);
  --green-deep-trans: rgb(43, 188, 138, 0.5);
  --green-deep-trans-image: linear-gradient(transparent, transparent 4px, var(--green-deep-trans) 4px, var(--green-deep-trans));
  --black: #383838;
  --black-image: linear-gradient(transparent, transparent 4px, var(--green-deep-trans) 4px, var(--green-deep-trans));
  --black-trans: rgb(56, 56, 56, 0.5);
  --black-trans-image: linear-gradient(transparent, transparent 4px, var(--black-trans) 4px, var(--black-trans));

// style
  --font-zh-sans: "Noto Sans SC";
  --font-zh-serif: "Noto Serif SC";
  --font-family-bold: "KaTeX_SansSerif", "Noto Sans SC";
  --font-family-katex: var(--font-zh-serif);
  --font-family-typing: "Marcellus-SC", var(--font-zh-name);
}

// Fonts
$font-family-body = var(--font-zh-serif)
$font-family-mono = "JetBrains Mono"
$font-family-logo = "Marcellus-SC"
$font-family-header = var(--font-zh-sans)
$font-family-meta = var(--font-zh-sans)
$font-family-section = var(--font-zh-sans)
$font-family-section-before = "Marcellus-SC"

$font-size = 15px
$font-mono-size = $font-size - 1
$line-height = 1.725
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
