#categories
  .category-list-title
    color: $color-meta
  .category-list
    .category-list-item
      font-family: $font-family-meta
      font-weight: 700

      .category-list-link
        font-family: "Cinzel"
      
      .category-list-count
        color: $color-meta
        font-family: $font-family-body
        font-weight: 400
        
      .category-list-count:before
        content: " ("
      .category-list-count:after
        content: ")"
