// by @sergodeeva (https://github.com/sergodeeva)

// edited

$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666 // main color of link text in nav section
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(212, 128, 170, 1)
$color-link-under = rgba(154, 116, 205, 0.1)
$color-text = #383838
$color-accent-3 = #8c8c8c
$color-accent-2 = #383838
$color-accent-1 = #2bbc8a // menu, title, etc.
$color-quote = #383838
$highlight = hexo-confg("highlight") || "atelier-cave-light"
